@page "/"
@using System.Reflection
@namespace PointerStar.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pointer*</title>
    <base href="/" />
    <link rel="icon" href="favicon.svg" />
    <link href="PointerStar.Client.styles.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <link rel='mask-icon' href='Pointer_Black_Apple_Mask_Icon.svg' color='black' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>

<body>
    <div id="app">Loading...</div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js?v=@(Assembly.Load("PointerStar.Client").GetName().Version?.ToString() ?? "1.0.0")"></script>
    <script src="_content/Toolbelt.Blazor.PWA.Updater.Service/script.min.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
