@page "/"
@inject NavigationManager Navigation;

<PageTitle>Pointer*</PageTitle>


<div class="container">
    <div class="row">
        <div class="text-center">
            <button class="btn btn-primary" @onclick="NavigateToRoom">Create Room</button>
        </div>
    </div>
</div>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@code {
    private void NavigateToRoom()
    {
        //TODO Randomly generate room id
        Navigation.NavigateTo($"room/123");
    }
}
