@using PointerStar.Client.Components;
@using PointerStar.Client.ViewModels;
@using PointerStar.Shared;

@inherits ComponentBase<RoomViewModel>

@page "/room/{RoomId}"

<PageTitle>Pointer*</PageTitle>

<h1>Room</h1>

<ul>
    @foreach(var user in ViewModel.RoomState?.Users ?? Enumerable.Empty<User>())
    {
        <li>
            @user.Name - @user.Vote&nbsp;
            @if (user.Id == ViewModel.CurrentUserId)
            {
                <button @onclick="ViewModel.SubmitVoteAsync">Random Vote</button>
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public string? RoomId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "Name")]
    public string? Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (RoomId is { } roomId)
        {
            User user = new(Guid.NewGuid(), Name ?? $"User {new Random().Next()}");
            await ViewModel.JoinRoomAsync(roomId, user);
        }
    }
}
