.vote-button {
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 5px 5px 4px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100px;
    height: 100px;
}

.vote-button-row {
    max-width: 700px;
}

.heading {
    margin: 20px, 0px, 10px, 0px;
    border-top-style: solid;
    border-width: 1px;
    border-color: var(--bs-secondary);
}

.user-card {
    /*max-width: 80%;*/
    margin: 10px 0px;
}

.votes-card {
    /*max-width: 80%;*/
    margin: 10px 0px;
}

.vote-preview {
    font-style:italic
}

.original-vote-value {
    font-style:italic
}

.vote-value {
    font-weight:bold
}
