@using System.Reflection;
@inherits LayoutComponentBase

<Toolbelt.Blazor.PWA.Updater.PWAUpdater />

<div class="page">
    <main>
        <nav class="navbar navbar-static-top navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand btn btn-outline-secondary homebutton" href="#"></a>
                </div>

                <div class="navbar-right">
                    @*<a class="nav-link" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
                    <span>@Assembly.GetExecutingAssembly().GetName().Version?.ToString(3)</span>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
